# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform.tfvars

# Lambda build artifacts
lambdas/**/package/
lambdas/**/package.zip
lambdas/**/__pycache__/
lambdas/**/*.pyc
